body {
    background: rgb(47, 150, 163);
}

h1,
h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}

.borrar-pelicula,
.borrar-pelicula:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}