h1 {
    color: green;
}

body {
    text-align: center;
}

.cuadro {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
    width: 300px;
}

button {
    background-color: black;
    color: white;
    width: 300px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}